.stats-col {
  margin-top: -15px !important;
  margin-left: -20px;
}

.progressbar-width {
  width: 27vw;
  height: 10px;
}

@media (max-width: 1200px) {
  .progressbar-width {
    width: 70vw;
    height: 10px;
  }
}

@media (max-width: 670px) {
  .progressbar-width {
    width: 50vw;
    height: 10px;
  }
}

@media (max-width: 670px) {
  .progressbar-width {
    width: 40vw;
    height: 10px;
  }
}

.progress-bar-custom-orange .progress-bar {
  background-color: #fcae73 !important;
}

.progress-bar-custom-green .progress-bar {
  background-color: #209d43 !important;
}

.progress-bar-custom-blue .progress-bar {
  background-color: #70a6e8 !important;
}

.progress-bar-text {
  font-family: Poppins;
  color: #aeaeae;
  font-size: 14px;
  margin-top: 7px;
}

.stats-percentage {
  color: #696969;
  font-size: 1.4rem;
  font-family: Poppins;
  align-items: center;
  margin-top: -40px;
}
