.main-content {
  height: 100vh;
}

.card-mod {
  border: 0px !important;
  border-radius: 15px !important;
  box-shadow: 0 5px 10px rgb(154 160 185 / 5%),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.goals-head {
  font-family: Poppins;
  font-size: 1.2rem;
  color: #404040;
  font-weight: 500;
}

.icon {
  margin-top: -11px;
  margin-left: -8px;
  color: #404040;
}

.sidebar {
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-right: 3px solid #f8f8f8;
}

.navlink-text {
  font-weight: 500;
  color: #c7c7c7;
}
