.button-goals {
    width: 18px !important;
    height: 25px !important;
    border-radius: 50% !important;
    font-size: 20px;
    background-color: #ffc145 !important;
    border: 0px !important;
  }

  .goals-card-title {
    font-family: Poppins;
    font-weight: 500;
    color: #696969;
    font-size: 1.4rem;
  }
  
  .goals-card-subtitle {
    font-family: Poppins;
    font-weight: 400;
    color: #aeaeae;
    font-size: 14px;
    margin-top: -10px;
  }
  
  .goals-card-text {
    font-family: Poppins;
    font-weight: 400;
    color: #404040;
    font-size: 1.2rem;
  }